.nav-container {
  display: flex;
  align-items: center;
  margin-bottom: 60px; 
}

.content-section {
  margin-top: 60px;
}

h2 {
  margin-right: auto;
  margin-bottom: 0;
}
.nav-container h2 {
  padding-left: 25px; 
}
.nav-container ul {
  padding-right: 25px; 

}

.card-body-fixed-height {
  height: 150px; 
  overflow: hidden;
}

#reach-out {
  background: #ffffff;
}

#reach-out h2 {
  color: #454c56;
}

.contact h2 {
  color: #F2E3D5;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form {
  padding-right: 10%;
}

.contact-form button:hover {
  color: #F2E3D5;
  background: #39a6b2;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);

}


.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: #2975de;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  border-radius: 10px;



}

.contact-info>* {
  flex: 1;
  margin: 15px;
}


.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;

}

.contact-info h3 {
  color: #0E5259;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 25px;
  font-style: normal;


}

#contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.contact-info a {
  color: #0E5259;
  display: inline;
}

.contact-info a:hover {
  color: #ACF2E5;
  transition: .5s ease;
}

.download-intro p {
  line-height: 1.7;
  color: #0E5259;
  width: 95%;
  font-size: 30px;
  margin: 0 auto;
  justify-content: center;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

.resume-body>* {
  flex: 1;
  margin: 150px;
}

.column1,
.column2,
.column3 {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
}

.column3 {
  margin-right: 0%;
}



.article {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #B4D9CB;
}


.resume-body img {

  height: auto;
}

.download-text {
  height: auto;
  /* margin-left: 20%; */
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.download-logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0E5259;
  display: inline-block;
}

.download-logo:hover {
  color: #328C83;
  opacity: 0.5;
  transition: .5s ease;
}



.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}


.column-title {
  color: #285950;
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  color: #285950;
  font-size: 20px;
  padding: 5px;


}

.column-text ul li {
  list-style: none;
}

.section-title {
  text-align: center;
}
.intro p {
  line-height: 1.7;
  color: #0E5259;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.intro-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-img {
  flex: 1 12%;
  margin-right: 20px;
}

.intro-img img {
  max-width: 100%;
  height: auto;
  margin-left: 5px;
}

.intro-text {
  flex: 12;
}

.intro-text p {
  color: #ffffff;
  font-size: 18px;
}

footer {
  background: #244c5e;
  font-weight: bold;
  width: 100%;
  height: 100px;
  position: fixed; 
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h2 {

  color: #ffffff;
  font-size: 15px;
  margin: 0;
}

footer p {
  color: #75BFB2;
  font-size: 15px;
  margin: 0;
  text-align: center;

}

footer div {

  line-height: 1.5;

}

footer a {
  color: #75BFB2;
}

footer a:hover {
  color: #328C83;
  transition: .5s ease;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #ffffff;
  display: inline-block;
}

.logo:hover {
  color: #328C83;
  opacity: 0.5;
  transition: .5s ease;
}
.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.custom-card .card-body {
  flex: 1;
}



.download-intro p {
  line-height: 1.7;
  color: #0E5259;
  width: 95%;
  font-size: 30px;
  margin: 0 auto;
  justify-content: center;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

.resume-body>* {
  flex: 1;
  margin: 150px;
}

.column1,
.column2,
.column3 {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
}

.column3 {
  margin-right: 0%;
}



.article {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #244c5e;
}


.resume-body img {

  height: auto;
}

.download-text {
  height: auto;
  /* margin-left: 20%; */
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.download-logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0E5259;
  display: inline-block;
}

.download-logo:hover {
  color: #328C83;
  opacity: 0.5;
  transition: .5s ease;
}



.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.column-title {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
}

.column-text ul li {
  list-style: none;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
.nav-link.active {
  background-color: #328C83;
  color: #ffffff;
}
.nav-link:hover {
  color: #328C83;
  transition: 0.5s ease;
}
